<div class="container-fluid bg">
    <div class="row">
        <div class="col-md-4">
            <h4>Connect with us:</h4><br>
            <i style='font-size:24px' class='fab'>&#xf082;</i>&nbsp;&nbsp;
            <i style='font-size:24px' class='fab'>&#xf099;</i>&nbsp;&nbsp;
            <i style='font-size:24px' class='fab'>&#xf16d;</i>&nbsp;&nbsp;
            <i style='font-size:24px' class='fab'>&#xf0d2;</i>&nbsp;&nbsp;
            <i style='font-size:24px' class='fab'>&#xf0d5;</i>&nbsp;&nbsp;
            <i style='font-size:24px' class='fab'>&#xf08c;</i>&nbsp;&nbsp;

        </div>
        <div class="col-md-4">
            <h2>Subscribe to our Newsletter</h2>
            <div class="container" style="background-color:white">
                <input type="text" placeholder="Name" name="name" required>
                <input type="text" placeholder="Email address" name="mail" required>
                <!-- <label>
                    <input type="checkbox" checked="checked" name="subscribe"> Daily Newsletter
                </label> -->
            </div>

            <div class="container">
                <input type="submit" value="Subscribe">
            </div>


        </div>

        <div class="col-md-4">
            <h2 style="text-align: center;">Address:</h2>
            <p style="text-align: center;"> 204,B-wing,Apollo Tower<br>Baner,Pune-4801101</p><br><br><br>

            <h2 style="text-align: center;">ContactNo.</h2>
            <p style="text-align: center;">080-191-0266</p>
            <p style="text-align: center;">080-191-0254</p>
        </div>
    </div><br><br>
    <div style="text-align: center;">
        <p>© COPYRIGHT 2018 SPRINGFOODS.COM. ALL RIGHTS RESERVED.</p>
    </div>

</div>